################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/SimpleBudget/UnitTests/obj
/SimpleBudget/SimpleBudget/obj
/SimpleBudget/Domain/obj
/SimpleBudget/Domain/bin/Debug/net6.0
/SimpleBudget/.vs/SimpleBudget
/SimpleBudget/UnitTests/bin/Debug/net6.0
