################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/SimpleBudget/UnitTests/obj
/SimpleBudget/SimpleBudget/obj
/SimpleBudget/Domain/obj
/SimpleBudget/Domain/bin/Debug/net6.0
/SimpleBudget/.vs/SimpleBudget
/SimpleBudget/UnitTests/bin/Debug/net6.0
/SimpleBudget/SimpleBudget/bin/Debug/net6.0-windows
/SimpleBudget/SB.Application/bin/Debug/net6.0
/SimpleBudget/SB.Application/obj
/SimpleBudget/SB.Infrastructures/bin/Debug/net6.0
/SimpleBudget/SB.Infrastructures/obj
/SimpleBudget/Domain/Db
/SimpleBudget/Domain/bin/Release/net6.0
/SimpleBudget/SB.Application/bin/Release/net6.0
/SimpleBudget/SB.Infrastructures/bin/Release/net6.0
/SimpleBudget/SimpleBudget/bin/Release/net6.0-windows
